




.article-section:first-child {
	font-weight: bold;
}

.article-section:last-child {
	font-weight: bold;
}



.color-me-blue {
	color: blue;
}

.make-me-larger {
	font-size: 3em;
}

.border-me {
	border: 1px dotted green;
}

.rounded-border-me {
	border-radius: 4px;
}










button {
	display: block;
	width: 100px;
	margin: 20px 0;
}